h3 {
    color: #695ace;
    padding: 15px;
}

h5 {
    display: flex;
    justify-content: center;
}
.checkbox > input {
    margin: 10px;
    margin-left: 20px;
}

.boton{
    position: sticky;
    margin-bottom: 15px;
}

.icon {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
}
.hours {
    text-align: center;
}

.hours__inline {
    display: flex;
    justify-content: center;
}

.hours__inline > svg {
    color: tomato;
}
