 .nav {
    background-color: #d6dde3;
    display: flex; 
    justify-content: center;
    padding: 3px;
} 

h5 {
    color: #2f2f32;
    display: inline-flex;
}

svg {
    display: inline-flex;
    justify-content: flex-start; 
}